<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<div class="container-fluid">
  	<% include partials/template/header.ejs %>
  	<% include partials/content/dz_prom.ejs %>
    
	<% include partials/template/footer.ejs %>
	</div>

    <% include partials/template/jsdefault.ejs %>
  </body>
</html>
