<footer>
	<div class="row">
		<div class="col_full col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	          <ul>
	          	<h4>О нас</h4>
	            <li ><a class="" href="http://dz-team.com.ua/denis_zybin">Denis Zybin</a></li>
	            <li ><a class="" href="http://dz-team.com.ua/denis_zybin">Revolution Team</a></li>
	            <li ><a class="" href="http://dz-team.com.ua/dz_video">Видео</a></li>
	            <li ><a class="" href="http://dz-team.com.ua/dz_foto">Фото
	            </a></li>
	            <li ><a  class="" href="http://dz-team.com.ua/dz_reviews">Отзывы</a></li>
	          </ul>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        		<ul>
        			<h4>Шоу программы</h4>
        			<li><a  href="http://dz-team.com.ua/dz_rap">RAP</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_thieves">Похитители</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_grandmotherSiranush">Бабушка Сирануш</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_cake">Казус с тортом</a></li>
        		</ul>
			</div>
		</div>
		<div class="col_full col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<ul>
					<h4>Праздники</h4>
		            <li><a  href="http://dz-team.com.ua/dz_visiting">Выездная церемония</a></li>
		            <li><a  href="http://dz-team.com.ua/dz_wedding">Свадьба</a></li>
		            <li><a " href="http://dz-team.com.ua/dz_anniversary">Юбилей</a></li>
		            <li><a  href="http://dz-team.com.ua/dz_corporate">Корпоратив</a></li>
		            <li><a  href="http://dz-team.com.ua/dz_nyear">Новый год</a></li>
		            <li><a href="http://dz-team.com.ua/dz_prom">Выпускной</a></li>
		        </ul>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        		<ul>
        			<h4>Услуги</h4>
        			<li><a  href="http://dz-team.com.ua/dz_videography">Видеоограф</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_eventorganisation">Свадьба</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_photographer">Фотографы</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_hostes">Хостес</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_weddingDecor">Оформление свадеб</a></li>
        			<li><a  href="http://dz-team.com.ua/mc_zybin">MC ZYBIN</a></li>
        		</ul>
			</div>
		</div>


		<div class="col_full col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        		<ul>
        			<h4>Музыканты и Dj</h4>
        			<li><a  href="http://dz-team.com.ua/dz_saxophone" >Саксофонист</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_dj" >Dj</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_vocalists" >Вокалисты</a></li>
        			<li><a  href="http://dz-team.com.ua/dz_coverBands"  >Кавер группы</a></li>
        		</ul>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        		<ul>
        			<h4>Контакты</h4>
        			<li>Телефон:  +38(098)6753373 </li>
        			<li>Email: dzrevolition @gmail.com </li>
        			<li><a href="https://vk.com/away.php?to=https%3A%2F%2Fwww.facebook.com%2Fdenis.zybin.1%3Ffref%3Dpb%26hc_location%3Dfriends_tab%26pnref%3Dfriends.all" target="_blank">Денис Зыбин
						<img class="logo1" src="/images/facebook.png" alt="VK" /></a></li>
        			<li><a href="https://vk.com/denis_zybin" target="_blank">Денис Зыбин
						<img class="logo1" src="/images/vk.png" alt="VK" /></a></li>
        			<li><a href="https://vk.com/denis_zybin" target="_blank">Skype: zybin91@mail.ua
						<img class="logo1" src="/images/contact/skype.png" alt="VK" /></a></li>
					<li><a href="https://www.youtube.com/channel/UCCGQQLyL0bK8_HPW08jIS_w" target="_blank">YouTube Channel
						<img class="logo1" src="/images/youtube.png" alt="YT" /></a></li>
					<li> Developed by <a class="albert" href="https://vk.com/sport24hours" target="_blank">Albert<img class="logo1" src="/images/vk.png" alt="VK" /></a></li>
        		</ul>
			</div>
		</div>
	</div>
</footer>