<header>

	<div id="p_prldr">
		<img class="svg_anm"  src="images/logo1.png" alt="DZ REVOLUTION TEAM" />
	</div>

	<div class="row">
		<div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
			<div><a href="http://dz-team.com.ua/">
			<img class="logo"  src="images/logo1.png" alt="DZ REVOLUTION TEAM" />
			</a></div>
		</div>

		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
			
			<div class="menu">
				<nav class="navbar navbar-default">
				  <div class="cont">
				    <div class="navbar-header sm_menu">
				    	<p>Меню
				      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".js-navbar">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button></p>
				    </div>

				    <div class="collapse navbar-collapse js-navbar terra">
				      <ul class="nav navbar-nav">
				      	<li class="glist">
				        	<a class="list" href="http://dz-team.com.ua/">Харизма</a>
				        </li>

				        <li class="dropdown glist">
				          <a id="drop1" href="http://dz-team.com.ua/" class="dropdown-toggle list" data-toggle="dropdown">
				            О нас
				            <span class="caret"></span>
				          </a>

				          
				          <ul class="dropdown-menu hlist">

				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/denis_zybin">Denis Zybin</a></li>
	         				<li class="alist"><a class="mlist" href="http://dz-team.com.ua/revolution_team">Revolution Team</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_video">Видео</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_foto">Фото
				            </a></li>
				            <li class="alist"><a  class="mlist" href="http://dz-team.com.ua/dz_reviews">Отзывы</a></li>
				          </ul>
				        </li>

				    <li class="dropdown glist">
			          <a id="drop1" href="#" class="dropdown-toggle list" data-toggle="dropdown">
			            Шоу программы
			            <span class="caret"></span>
			          </a>
			          <ul class="dropdown-menu hlist">
			            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_rap">RAP</a></li>
			            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_thieves">Похитители</a></li>
			            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_grandmotherSiranush">Бабушка Сирануш
			            </a></li>
			            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_cake">Казус с тортом
			            </a></li>
			          </ul>
			        </li>
						

				        <li class="dropdown glist">
				          <a id="drop1" href="#" class="dropdown-toggle list" data-toggle="dropdown">
				            Праздники
				            <span class="caret"></span>
				          </a>
				          <ul class="dropdown-menu hlist">
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_visiting">Выездная церемония</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_wedding">Свадьба</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_anniversary">Юбилей</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_corporate">Корпоратив</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_nyear">Новый год</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_prom">Выпускной</a></li>
				          </ul>
				        </li>

				        <li class="dropdown glist" onclick="showMenu('')" id="show_menu">
				          <a id="drop1" href="#" class="dropdown-toggle list" data-toggle="dropdown">
				            Услуги
				            <span class="caret"></span>
				          </a>
				          <ul class="dropdown-menu hlist">

				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_videography">Видеооператор</a></li>


				            <li class="alist" id="show_rmenu">
				            	<a class="mlist" href="#">Музыканты и DJ 
				            	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
				            	</span>
				            	</a>
			            		<ul class="blist">
			            			<li class="vlist"><a  href="http://dz-team.com.ua/dz_saxophone" class="zlist" >Саксофонист</a></li>
			            			<li class="vlist"><a  href="http://dz-team.com.ua/dz_dj" class="zlist">Dj</a></li>
			            			<li class="vlist"><a  href="http://dz-team.com.ua/dz_vocalists" class="zlist" >Вокалисты</a></li>
			            			<li class="vlist"><a  href="http://dz-team.com.ua/dz_coverBands" class="zlist" >Сover bands</a></li>
			            		</ul>			            
				            </li>
				            	<ul class="slist">
			            			<li class="vlist"><a  href="http://dz-team.com.ua/dz_saxophone" class="" >Саксофонист</a></li>
			            			<li class="vlist"><a  href="http://dz-team.com.ua/dz_dj" class="">Dj</a></li>
			            			<li class="vlist"><a  href="http://dz-team.com.ua/dz_vocalists" class="" >Вокалисты</a></li>
			            			<li class="vlist"><a  href="http://dz-team.com.ua/dz_coverBands" class="" >Сover bands</a></li>
			            		</ul>



				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_eventorganisation">Свадьба
				            </a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_photographer">Фотографы</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_hostes">Хостес</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/dz_weddingDecor">Оформление свадеб</a></li>
				            <li class="alist"><a class="mlist" href="http://dz-team.com.ua/mc_zybin"> MC ZYBIN</a></li>
				          </ul>
				        </li>
				        <li class="glist">
				        	<a class="list" href="http://dz-team.com.ua/dz_contact">Контакты</a>
				        </li>

				      </ul>			           
				    </div>

				  </div>
				</nav>
			</div>
		</div>

		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
		<div class="tel">+38(098)6753373
		</div>
		</div>
	</div>
</header>