<title>DZ REVOLUTION TEAM</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Ведущий на свадьбу, тамада на свадьбу, ведущий на свадьбу в самаре, тамада на свадьбу в самаре, проведение свадеб, проведение свадеб в самаре, ведущий на корпоратив, тамада на корпоратив, ведущий на юбилей, тамада на юбилей, проведение свадеб, проведение корпоратива, проведение юбилея, организация свадеб, организация юбилеев, организация корпоративов, Мариуполь, Украина">
<link rel='stylesheet' href='/stylesheets/style/main.css' />
<link rel="stylesheet" href="/stylesheets/css/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/css/bootstrap-theme.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link href="/stylesheets/css/lightbox.css" rel="stylesheet">
<link rel="icon" type="image/png" href="images/logo1.png" />