<div id="den_zubin">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<div class="den_zubin2">
				<p>Denis</p>
				<p> Zybin</p>
				<p class="den_zubin3">Revolution</p> 
				<p class="den_zubin3">Team</p>
			</div>
		</div>
	
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  den_zubin1">
			<img  src="images/den.png" alt="Денис Зыбин" />

		</div>
		
		<div class="den_zubin4 col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="den_zubin2">
				<p class="">Revolution</p> 
				<p class="">Team</p>
			</div>
		</div>
	</div>
</div>