<div id="dz_anniversary">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Организация юбилея</h1> 
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz41.png" /></div>
			<p>Юбилей – это знаменательная дата, торжественное мероприятие для всей семьи. Юбилей принято отмечать ярко, весело и незабываемо.</p> 
			<p>С возрастом некоторые люди перестают пышно отмечать один день рождения за другим, приурочивая грандиозные фуршеты только к определенным датам – юбилеям. Юбилей — замечательный повод собрать друзей, родных и коллег за одним столом. Для проведения такого мероприятия меню всегда продумывается заранее, также тщательно подбирается место. Но есть еще одна немаловажная деталь Вашего праздника. Кто же создаст Вам нужную атмосферу? Кто не даст Вам и Вашим гостям скучать? Правильно, профессиональный ведущий, который продумает заранее сценарий проведения Вашего праздника!</p>
			<h2>С чего начать подготовку к юбилею?</h2> 
			<p>Конечно, подготовка начинается с составления списка гостей. Количество приглашенных гостей определяет выбор ресторана с банкетным залом. Самым сложным этапом является поиск ведущего и артистов, а также разработка развлекательной программы, так как важно учесть не только возраст и увлечения приглашенных, но и правильно расставить акценты на протяжении всего вечера.</p>
			<p>Выберите команду «DZ REVOLUTION TEAM» в качестве организатора вашего юбилея, и мы примем во внимание тысячи нюансов, проведем огромную подготовительную работу. Мы гарантируем, что воспользовавшись нашими услугами, юбилей пройдет без эксцессов и все гости останутся под приятным впечатлением от проведенного праздника.</p>
			<h2>Предложение от команды «DZ REVOLUTION TEAM»</h2>
			<p>Наша команда специализируется на организации ярких и необычных праздников, начиная от составления сценария торжества, заканчивая воплощением задуманного.Наши профессионалы знают, как превратить любой юбилей в удивительное и прекрасное мероприятие, которое впечатлит гостей и в первую очередь самого виновника торжества. Мы пригласим на ваш юбилей профессиональных артистов, ди-джеев, ведущих, музыкантов и дизайнеров-оформителей. Вам стоит лишь захотеть!!!</p>


			<h3>Ведущий на юбилей от «DZ REVOLUTION TEAM» - гарантия веселого и незабываемого вечера.</h3>
			<div class="oden_zubin4"><h1>
				<iframe class="dz_video_wedding" width="600" height="400" src="https://www.youtube.com/embed/L1mB2Hiz1QI" frameborder="0" allowfullscreen></iframe></h1>
			</div>
			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 

		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>