<div id="dz_children" class="row txt_zubin">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 oden_zubin1"><img class="ftn" src="images/den.png" alt="Денис Зыбин" /></div>

	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<h1>Детские Праздники</h1>
	
	<p>Вы хотите подарить своему ребенку День рождение или новогодний утренник его мечты, но пи этом устали от шаблонных решений и одинаковых сценариев ???</p>
	
		<div class="dz_foto_wedding">
			<a href="images/sv/1.jpg" data-lightbox="roadtrip"><img class="" src="images/sv/1.jpg" /></a>
			<a href="images/sv/2.jpg" data-lightbox="roadtrip"><img src="images/sv/2.jpg" /></a>
			<a href="images/sv/3.jpg" data-lightbox="roadtrip"><img src="images/sv/3.jpg" /></a>
			<a href="images/sv/4.jpg" data-lightbox="roadtrip"><img src="images/sv/4.jpg" /></a>
		</div> 
<p>DZ Revolution team - знает что нужно детям, и сделать так чтоб было интересно не только имениннику но и его маленьким гостям, С нами дети всегда чувствуют себя в центра удивительных событий.</p>
  
<p>Поэтому вас ждут фантастические Декорации ,обоятельные аниматоры. Каждый  праздник эксклюзивный, при этом мы можем познакомить ребят суже известными персонажами.</p>

		<div class="dz_foto_wedding">
			<a href="images/sv/1.jpg" data-lightbox="roadtrip"><img class="" src="images/sv/1.jpg" /></a>
			<a href="images/sv/2.jpg" data-lightbox="roadtrip"><img src="images/sv/2.jpg" /></a>
			<a href="images/sv/3.jpg" data-lightbox="roadtrip"><img src="images/sv/3.jpg" /></a>
			<a href="images/sv/4.jpg" data-lightbox="roadtrip"><img src="images/sv/4.jpg" /></a>
		</div>
	<h3>Стоимость услуг и цены на проведение мероприятий уточняйте по номеру Тел.: +38(098)-675-33-73</h3> 
	<!--
		<h3><a href="http://localhost:3000/dz_video"> Видеообзоры о проведенных нами Детских праздников</a></h3>
		<div >
			<iframe class="dz_video_wedding" width="240" height="160" src="https://www.youtube.com/embed/ptXw-D4KFqI" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding" width="240" height="160" src="https://www.youtube.com/embed/SRs7NsJe3cU" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding" width="240" height="160" src="https://www.youtube.com/embed/-W4-aa9dqDc" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding" width="240" height="160" src="https://www.youtube.com/embed/iblPv56dXAQ" frameborder="0" allowfullscreen></iframe>
		</div>
		<h3><a href="http://localhost:3000/dz_reviews"> Отзывы но проведенных нами Детских праздников</a></h3>
		<div>
			<iframe class="dz_video_wedding" width="240" height="160" src="https://www.youtube.com/embed/ptXw-D4KFqI" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding" width="240" height="160" src="https://www.youtube.com/embed/SRs7NsJe3cU" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding" width="240" height="160" src="https://www.youtube.com/embed/-W4-aa9dqDc" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding" width="240" height="160" src="https://www.youtube.com/embed/iblPv56dXAQ" frameborder="0" allowfullscreen></iframe>
		</div> 
	-->
	</div>
</div>