<div id="dz_contact">
	<div class="row fon">
		<div class="hidden-xs hidden-sm col-md-4 col-lg-4">
			<div class="oden_zubin1">
					<div><img  class="dzf" src="" alt="Денис Зыбин" /></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="txt_zubin1">
				<h2>Наши контакты</h2>
				<p><img class="dz_foto_wedding3" src="images/contact/MobilePhonesIcons.png" />Телефон: <a> +38(098)-675-33-73</a> </p>
				<p><img class="dz_foto_wedding3" src="images/contact/mail2.png" />Email:  <a> dzrevolition@gmail.com </a></p>
				<p><a href="https://vk.com/denis_zybin" target="_blank"><img class="dz_foto_wedding3" src="/images/vk.png" alt="VK" />Денис Зыбин </a></p>
				<p><a href="https://www.facebook.com/denis.zybin.1?fref=pb&hc_location=friends_tab&pnref=friends.all" target="_blank"><img class="dz_foto_wedding3" src="/images/facebook.png" alt="VK" />Денис Зыбин</a></p>
				<p><img class="dz_foto_wedding3" src="/images/contact/skype.png" alt="skype" />Наш скайп - zybin91@mail.ua</p>
				<p><a href="https://www.youtube.com/channel/UCCGQQLyL0bK8_HPW08jIS_w" target="_blank"><img class="dz_foto_wedding3" src="/images/youtube.png" alt="YT" />Наш канал на YOUTUBE</a></p>
				<p><a href="https://vk.com/sport24hours" target="_blank"><img class="dz_foto_wedding3" src="/images/vk.png" alt="VK" />Developed by Albert</a></p>
			</div>
		</div>
		<div class="hidden-xs col-sm-6 col-md-4 col-lg-4">
			<div class="oden_zubin1">
					<div><img  class="dzf1" src="" alt="Денис Зыбин" /></div>
			</div>
		</div>
	</div>
		
</div>