<div id="dz_coverBands">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Cover Bands</h1>
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz35.png" /></div> 		
			<h2>Кавер – группа, которая заставит Вас танцевать!</h2> 
			<p>Почему музыка так важна для удачного праздника?</p>
			<p>Каждый находит в ней что-то свое: кто имеет любимых исполнителей, у кого та или иная песня имеет доброе воспоминание, а кто-то просто меломан.</p>
			<div class="dz_foto_wedding">
				<a href="images/cg/1.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/1.jpg" /></a>
				<a href="images/cg/2.jpg" data-lightbox="roadtrip"><img src="images/cg/2.jpg" /></a>
				<a href="images/cg/3.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/3.jpg" /></a>
				<a href="images/cg/4.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/4.jpg" /></a>
			</div>
	 		<p>Будьте уверены, что правильно подобранная музыка задаст тон и настроение Вам и вашим гостям.</p> 
	 		<p>Опытный ведущий Денис Зыбин поможет вам подобрать именно тот плейлист, который полностью удовлетворит ваши пожелания.</p> 
		 	<div class="dz_foto_wedding">
				<a href="images/cg/5.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/5.jpg" /></a>
				<a href="images/cg/6.jpg" data-lightbox="roadtrip"><img src="images/cg/6.jpg" /></a>
				<a href="images/cg/7.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/7.jpg" /></a>
				<a href="images/cg/8.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/8.jpg" /></a>
			</div>
			<p>А музыкальные группы качественно и оригинально исполнит его, ведь в состав группы входят не просто любители, а профессионалы своего дела.</p>
		 	<div class="dz_foto_wedding">
				<a href="images/cg/9.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/9.jpg" /></a>
				<a href="images/cg/10.jpg" data-lightbox="roadtrip"><img src="images/cg/10.jpg" /></a>
				<a href="images/cg/11.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/11.jpg" /></a>
				<a href="images/cg/12.jpg" data-lightbox="roadtrip"><img class="" src="images/cg/12.jpg" /></a>
			</div>
			<h3>Стоимость услуг и цены на проведение мероприятий уточняйте по номеру Тел.: +38(098)-675-33-73</h3> 
		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>