<div id="dz_corporate">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>

		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Ведущий на Корпоративные вечеринки </h1> 
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz42.png" /></div>
			<p>Корпоративная вечеринка – это  мероприятие, которое помогает сплотить коллектив, отлично провести время и лучше узнать друг - друга. Поводы для организации вечеринки могут быть разные: Новый год, 8 марта, юбилей компании или любой другой праздник.</p>
			<h3><a href="http://dz-team.com.ua/dz_foto"> Фотографии наших корпоративных вечеринок.</a></h3>
			<div class="dz_foto_wedding">
				<a href="images/cor/1.jpg" data-lightbox="roadtrip"><img class="" src="images/cor/1.jpg" /></a>
				<a href="images/cor/2.jpg" data-lightbox="roadtrip"><img src="images/cor/2.jpg" /></a>
				<a href="images/cor/3.jpg" data-lightbox="roadtrip"><img src="images/cor/3.jpg" /></a>
				<a href="images/cor/4.jpg" data-lightbox="roadtrip"><img src="images/cor/4.jpg" /></a>
			</div> 
			<p>Корпоративные вечеринки устраивают не только с целью отдыха, но и чтоб сплотить коллектив и настроить его на позитивный лад. Для каждой организаций - это возможность показать ценность сотрудников и построить с ними дружеские отношения.</p>
			<p>Мы можем предложить Вам проведение корпоративных вечеринок в офисе или за городом. Так же возможна организация новогодней корпоративной вечеринки под ключ, активный корпоративный отдых на природе. Организация мероприятий даже для большой компании не составит проблем, главное знать, к какому событию приурочить праздник.</p>
			<p>Новый год, 23-е февраля и 8-Марта, маевка, профессиональные праздники, памятные даты для компании, юбилей директора, успешное завершение проектов, - в общем, как вы видите, повод всегда есть. Чтобы атмосфера праздника действительно пошла на пользу коллективу, требуется отнестись к его организации максимально ответственно. Само собой, ни вы, ни ваши сослуживцы не имеют достаточного времени на подготовку такого рода мероприятия, поэтому самое время обратиться к профессионалам, к команде «DZ REVOLUTION TEAM».</p>
			<h3><a href="http://dz-team.com.ua/dz_reviews">Отзывы, проведенных корпоративных вечеринок нашей командой</a></h3>
			<div>
				<h2>
				<iframe class="dz_video_wedding" src="https://www.youtube.com/embed/WhHCWkPirkM" frameborder="0" allowfullscreen></iframe>
				<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/u0Aj4cT_qTs" frameborder="0" allowfullscreen></iframe>
				<iframe class="dz_video_wedding" src="https://www.youtube.com/embed/W3siYyZiByI" frameborder="0" allowfullscreen></iframe>
				</h2>
			</div>
			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 
		</div>

		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>