<div id="dz_dj">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<!-- <h1>Dj </h1> -->
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz33.png" /></div>
			<h2>Dj – является неотъемлемой частью современного мероприятия.</h2>
			<p>Он обеспечивает не только музыкальную атмосферу, но и замечательное настроение гостям вечеринки.</p>
			<!--<h3>dj Astral</h3>-->
			<div class="dz_foto_wedding">
				<a href="images/dj/1.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/1.jpg" /></a>
				<a href="images/dj/2.jpg" data-lightbox="roadtrip"><img src="images/dj/2.jpg" /></a>
				<a href="images/dj/16.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/16.jpg" /></a>
				<a href="images/dj/17.jpg" data-lightbox="roadtrip"><img src="images/dj/17.jpg" /></a>
			</div>
			<p>Веселые, энергичные, работающие в удобном для Вас музыкальном формате – это  всё о Dj «DZ REVOLUTION TEAM». </p>
			<p>Именно эти люди способны создавать замечательное настроение Вам и вашему торжеству!</p>
			<!--<h3>Dj Cherry</h3>-->
			<div class="dz_foto_wedding">
				<a href="images/dj/3.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/3.jpg" /></a>
				<a href="images/dj/4.jpg" data-lightbox="roadtrip"><img src="images/dj/4.jpg" /></a>
				<a href="images/dj/5.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/5.jpg" /></a>
				<a href="images/dj/6.jpg" data-lightbox="roadtrip"><img src="images/dj/6.jpg" /></a>
				<a href="images/dj/7.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/7.jpg" /></a>
				<a href="images/dj/8.jpg" data-lightbox="roadtrip"><img src="images/dj/8.jpg" /></a>
			</div>
			<h2>Dj на свадьбу ? Легко !! </h2>
			<p>Свадьба - это особенный день в жизни каждого человека и многие хотят избежать традиционного подхода в организации. Будьте уверены, что наши профессиональные Dj помогут вам в этом.</p>
			<!--<h3>DJ Nikita-Z</h3>-->
			<div class="dz_foto_wedding">
				<a href="images/dj/11.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/11.jpg" /></a>
				<a href="images/dj/12.jpg" data-lightbox="roadtrip"><img src="images/dj/12.jpg" /></a>
				<a href="images/dj/13.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/13.jpg" /></a>
				<a href="images/dj/14.jpg" data-lightbox="roadtrip"><img src="images/dj/14.jpg" /></a>
				<a href="images/dj/15.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/15.jpg" /></a>
			</div>
			<p>Наши Dj помогут определить основное направление и жанр который Вам подойдет! А наличее обширной музыкальной базы и современного оборудования сделает Ваш праздник незабываемым.</p>
			<p>Заказывать Dj в «DZ REVOLUTION TEAM» - значит отдавать музыкальное сопровождение в руки профессионалам и получать удовольствие от их работы.</p>
			<div class="dz_foto_wedding">
				<a href="images/dj/18.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/18.jpg" /></a>
				<a href="images/dj/19.jpg" data-lightbox="roadtrip"><img src="images/dj/19.jpg" /></a>
				<a href="images/dj/20.jpg" data-lightbox="roadtrip"><img class="" src="images/dj/20.jpg" /></a>
				<a href="images/dj/21.jpg" data-lightbox="roadtrip"><img src="images/dj/21.jpg" /></a>
			</div>
			<h3>Стоимость услуг и цены на проведение мероприятий уточняйте по номеру Тел.: +38(098)-675-33-73</h3> 		
		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>