<div id="dz_eventorganisation">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Свадьба «под ключ»</h1>
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz30.png" /></div> 
			<p>«DZ REVOLUTION TEAM» – это полноценная команда с новым и креативным виденьем в организации свадебного торжества. Каждое торжество должно пройти на высочайшем уровне, а для этого необходима хорошая подготовка и команда профессионалов.</p>
			<h2>«DZ REVOLUTOIN TEAM»</h2>
			<p>Если вы зашли к нам – это означает, что вы хотите организовать свою свадьбу на самом высоком уровне, но вы цените ваше время и поэтому готовы доверить организацию и проведение свадебного торжества только настоящим профессионалам.</p>
			<p>Организация и проведение свадьбы под ключ – это основное направление нашей деятельности, наше творчество, частичка нашей жизни и нашей души. На протяжении уже нескольких лет мы успешно реализуем все, даже самые невероятные идеи и желания наших заказчиков. В «DZ REVOLUTION TEAM» собралась команда профессионалов, способных справиться с любыми задачами и осуществить все ваши мечты, устроив уникальный праздник. Ведь организация свадьбы для нас – это создание целой истории, увлекательное приключение во время которого мы докажем вам, что организация свадьбы – это интересно и легко, главное – довериться профессионалам.</p>
			<p>Где бы ни планировалась свадьба, в Мариуполе или за границей, мы с огромным удовольствием возьмемся за создание впечатляющего, незабываемого события. Для нас не имеет значения масштаб мероприятия, выбор свадебного пакета "vip", под ключ или просто выездная регистрация, главной нашей задачей является доставить радость вам, оставить в памяти приятные впечатления.</p>
			<h2>«DZ REVOLUTOIN TEAM» предоставляет услуги</h2>
			 <ul>
			 	<li>- Тщательную проработку каждой детали и предоставление вам исчерпывающей информации по любому интересующему вас моменту;</li>
			 	<li>- Разработку индивидуального сценария свадьбы;</li>
			 	<li>- Выбор подходящего вашим запросам места проведения свадебного торжества;</li>
			 	<li>- Подбор высококвалифицированных специалистов, таких как  ведущий, декоратор, стилист, музыкант, фотограф, видеограф и т.д..</li>
			 	<li>- Детальный, утвержденный тайминг всего мероприятия;</li>
			 	<li>- Реализацию и контроль задуманного проекта «под ключ»;</li>
			 	<li>- Присутствие личного свадебного распорядителя во время всего процесса подготовки и на протяжении свадебного дня, контроль и решение всех возникающих вопросов;</li>
			 	<li>- Наше постоянное общение, обсуждение и ответы на все ваши вопросы.</li>
			 </ul>
			<p>Проведение свадьбы - это ответственная задача, легко и качественно с которой может справиться лишь опытный профессионал. Каждой паре мы предоставляем личного свадебного координатора, и я уверен, что с самых первых встреч, на протяжении всего процесса подготовки и во время самых волнительных моментов он станет для вас надежной опорой.</p>
			<p>Организация свадьбы в нашем агентстве – это индивидуальный подход к каждой паре, разработка оригинального сценария и неповторимого стиля, создание целостной концепции торжества, независимо от масштаба мероприятия. О нашем подходе и результатах, вы можете узнать подробнее на странице отзывов. <a style="font-weight: bold" href="http://dz-team.com.ua/dz_reviews">отзывов</a>.</p>
			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 
		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>