<div id="dz_foto">
	<div class="row txt_zubin fon">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<h1>Наша фотогалерея</h1>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="dz_foto">
				<a href="images/sv/3.jpg" data-lightbox="roadtrip"><img src="images/sv/3.jpg" /></a>
				<a href="images/sv/2.jpg" data-lightbox="roadtrip"><img src="images/sv/2.jpg" /></a>
				<a href="images/sv/1.jpg" data-lightbox="roadtrip"><img src="images/sv/1.jpg" /></a>
				<a href="images/sv/4.jpg" data-lightbox="roadtrip"><img src="images/sv/4.jpg" /></a>

				<a href="images/cor/1.jpg" data-lightbox="roadtrip"><img src="images/cor/1.jpg" /></a>
				<a href="images/cor/2.jpg" data-lightbox="roadtrip"><img src="images/cor/2.jpg" /></a>
				<a href="images/cor/3.jpg" data-lightbox="roadtrip"><img src="images/cor/3.jpg" /></a>
				<a href="images/cor/4.jpg" data-lightbox="roadtrip"><img src="images/cor/4.jpg" /></a>

				<a href="images/pr/1.jpg" data-lightbox="roadtrip"><img src="images/pr/1.jpg" /></a>
				<a href="images/pr/2.jpg" data-lightbox="roadtrip"><img src="images/pr/2.jpg" /></a>
				<a href="images/pr/3.jpg" data-lightbox="roadtrip"><img src="images/pr/3.jpg" /></a>
				<a href="images/pr/4.jpg" data-lightbox="roadtrip"><img src="images/pr/4.jpg" /></a>
			</div>
		</div>
	</div>
</div>