<div id="dz_grandmotherSiranush">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Бабушка Сирануш</h1> 
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz46.png" /></div>
			
			<div class="dz_foto_wedding">
				<a href="images/gal/1.jpg" data-lightbox="roadtrip"><img class="" src="images/gal/1.jpg" /></a>
				<a href="images/gal/2.jpg" data-lightbox="roadtrip"><img src="images/gal/2.jpg" /></a>
				<a href="images/gal/3.jpg" data-lightbox="roadtrip"><img class="" src="images/gal/3.jpg" /></a>
				<a href="images/gal/4.jpg" data-lightbox="roadtrip"><img src="images/gal/4.jpg" /></a>

			</div>

			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 

		</div>
			<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>