<div id="dz_hostes">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Хостес На мероприятие</h1> 
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz37.png" /></div>
			<p>Ведущий Денис Зыбин и его команда «DZ REVOLUTION TEAM» всегда идут в ногу со временем. Именно по этому в перечне услуги есть Хостес.</p>

			<div class="dz_foto_wedding">
				<a href="images/hostes/1.jpg" data-lightbox="roadtrip"><img class="" src="images/hostes/1.jpg" /></a>
				<a href="images/hostes/2.jpg" data-lightbox="roadtrip"><img src="images/hostes/2.jpg" /></a>
				<a href="images/hostes/3.jpg" data-lightbox="roadtrip"><img class="" src="images/hostes/3.jpg" /></a>
				<a href="images/hostes/7.jpg" data-lightbox="roadtrip"><img src="images/hostes/7.jpg" /></a>
				<a href="images/hostes/8.jpg" data-lightbox="roadtrip"><img class="" src="images/hostes/8.jpg" /></a>
				<a href="images/hostes/9.jpg" data-lightbox="roadtrip"><img src="images/hostes/9.jpg" /></a>
			</div>

			<h2>Нужен ли хостес на Мероприятие?</h2>
			<p>Хостес в переводе с английского языка - означает "хозяйка". А заказчик является генеральным директором и имеет полное право отдыхать, Вам не зачем отвлекаться на организаторские моменты, вы должны наслаждаться мероприятием. А вот хостес знает как правильно принять гостей, спросить пожелания или проконсультирует по любому вопросу.</p>


			<div class="dz_foto_wedding">
				<a href="images/hostes/4.jpg" data-lightbox="roadtrip"><img class="" src="images/hostes/4.jpg" /></a>
				<a href="images/hostes/5.jpg" data-lightbox="roadtrip"><img src="images/hostes/5.jpg" /></a>
				<a href="images/hostes/6.jpg" data-lightbox="roadtrip"><img class="" src="images/hostes/6.jpg" /></a>
			</div>

			<h2>Почему стоит заказать Хосте от «DZ REVOLUTION TEAM»???</h2> 
			<p>Опыт работы ведущего Дениса Зыбина показывает, что хостес на мероприятии много не бывает. Этот подход оправдывает все ожидания. Наша команда знает сколько хостес  необходимо задействовать для опредёленного количества гостей.</p> 
			<div class="dz_foto_wedding">
				<a href="images/hostes/10.jpg" data-lightbox="roadtrip"><img class="" src="images/hostes/10.jpg" /></a>
				<a href="images/hostes/11.jpg" data-lightbox="roadtrip"><img src="images/hostes/11.jpg" /></a>
				<a href="images/hostes/12.jpg" data-lightbox="roadtrip"><img class="" src="images/hostes/12.jpg" /></a>
				<a href="images/hostes/13.jpg" data-lightbox="roadtrip"><img class="" src="images/hostes/13.jpg" /></a>
			</div>

			<h3>Хостес от «DZ REVOLUTION TEAM» это всегда приятные и образованный персонал. </h3>

			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 

		</div>
			<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>