<div id="dz_nyear">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Ведущий на новый Год </h1>
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz44.png" /></div> 
			<p>Нет лучше праздника, чем Новый Год! Все хотят провести его, как можно ярче, чтобы и Дед Мороз был самым лучшим, и Снегурочка радовала глаз. Каждый раз хочется отметить Новый год интересно и необычно, зарядиться положительными эмоциями и отличным настроением и со свежими силами начать новый временной цикл. Новый год приближается, а это значит, что уже стоит задуматься о том, где и как вы собираетесь его встречать.</p>
			<p>Организация новогодней вечеринки - одно из самых интересных и увлекательных направлений в организации праздников, так как этот волшебный праздник с нетерпением ждут абсолютно все! Но самостоятельная качественная организация новогодней вечеринки может занять слишком много времени и сил. А если это тематическая новогодняя вечеринка, подготовленная опытными профессионалами, то появляется целый ряд преимуществ:</p>
				<ul>
					<li>- У Вас будет достаточно свободного времени, для закупки новогодних подарков близким и родным;</li>
					<li>- Вы сможете не спеша подготовить и подобрать наряд для этого волшебного вечера;</li>
					<li>- У Вас будет время на посещение салонов красоты, т.к. каждая представительница прекрасного пола желает блистать в новогоднюю ночь.</li>
				</ul>
			<div class="dz_foto_wedding1">
				<a href="images/ny/1.jpg" data-lightbox="roadtrip"><img class="" src="images/ny/1.jpg" /></a>
				<a href="images/ny/2.jpg" data-lightbox="roadtrip"><img src="images/ny/2.jpg" /></a>
				<a href="images/ny/3.jpg" data-lightbox="roadtrip"><img src="images/ny/3.jpg" /></a>
				<a href="images/ny/4.jpg" data-lightbox="roadtrip"><img src="images/ny/4.jpg" /></a>
				<a href="images/ny/5.jpg" data-lightbox="roadtrip"><img src="images/ny/5.jpg" /></a>
			</div>
			
			<p>Вам будет приятно и легко пережить этот не по зимнему «жаркий» сезон. Так как команда «DZ REVOLUTION TEAM» приложит максимум усилий для создания сказки в новогоднюю ночь!</p>

			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 
		</div>

		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>