<div id="dz_photographer">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Услуги фотографов</h1>
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz36.png" /></div>
			<p>На мероприятиях «DZ REVOLUTION TEAM» вместе с вами будет отдыхать ваш телефон, так как для instagram будут работать наши профессионалы!</p>
			<h2>Проведение свадебной фотосессии в Мариуполе и во всей Украине </h2>
			<p>Фотография – это  искусство получения фотоснимков, позволяющее запечатлеть самые яркие моменты Вашей жизни.</p> 
			<p>Команда «DZ REVOLUTION TEAM» предоставляет услуги профессионального фотографа.</p> 
			<p> Свадьба, вечеринка, корпоратив, выпускной, день рождения -любой праздник в Вашей жизни, Вы не только запомните, но и получите качественные фото на память.</p>

			<p>Свадебная съемка – это одновременно веселый, серьезный и волшебный момент. Фотограф кропотливо ловит моменты и эмоции не только молодых, но и гостей.</p> 

			<p>Услуги фотографа от «DZ REVOLUTION TEAM» стоят того чтобы их заказать.</p>

			<div class="dz_foto_wedding">
				<a href="images/fotogr/ko1.jpg" data-lightbox="roadtrip"><img class="" src="images/fotogr/ko1.jpg" /></a>
				<a href="images/fotogr/ko2.jpg" data-lightbox="roadtrip"><img src="images/fotogr/ko2.jpg" /></a>
				<a href="images/fotogr/ko3.jpg" data-lightbox="roadtrip"><img class="" src="images/fotogr/ko3.jpg" /></a>
				<a href="images/fotogr/ko4.jpg" data-lightbox="roadtrip"><img src="images/fotogr/ko4.jpg" /></a>
				<a href="images/fotogr/ko5.jpg" data-lightbox="roadtrip"><img src="images/fotogr/ko5.jpg" /></a>
			</div>
			
			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3>
		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>