<div id="dz_prom">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Ведущий на выпускной вечер</h1> 
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz43.png" /></div>
			<p>Выпускной вечер... Этот праздник проходит в кругу людей, которые стали родными. Выпускной после школы или ВУЗа всегда оставляет яркое впечатление. Это отличная возможность вспомнить все приятное и веселое, что было за время обучения. Выпускной вечер – это  праздник, который запомнится на всю жизнь.</p>
			<h2>Проведение выпускного вечера</h2> 
			<p> «DZ REVOLUTION TEAM» - специализируется на полноценном проведении мероприятия и предоставляет:</p>
			<p>- Ведущего;</p>
			<p>- Ди-джея и музыкальное сопровождение;</p>
			<p>- Фото и видео - сьемку;</p>
			<p>- Шоу - программу.</p>
			<div class="dz_foto_wedding">
				<a href="images/pr/1.jpg" data-lightbox="roadtrip"><img class="" src="images/pr/1.jpg" /></a>
				<a href="images/pr/2.jpg" data-lightbox="roadtrip"><img src="images/pr/2.jpg" /></a>
				<a href="images/pr/3.jpg" data-lightbox="roadtrip"><img src="images/pr/3.jpg" /></a>
				<a href="images/pr/4.jpg" data-lightbox="roadtrip"><img src="images/pr/4.jpg" /></a>
			</div>
			<h3>Все это имеется в арсенале  «DZ REVOLUTION TEAM», Мы с радостью покажем вам новый взгляд на Ваш праздник.</h3>
			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 
		
		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>