<div id="dz_rap">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>RAP</h1> 
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz45.png" /></div>
			
			<div class="dz_foto_wedding">
				<a href="images/rap/1.jpg" data-lightbox="roadtrip"><img class="" src="images/rap/1.jpg" /></a>
				<a href="images/rap/2.jpg" data-lightbox="roadtrip"><img src="images/rap/2.jpg" /></a>
				<a href="images/rap/3.jpg" data-lightbox="roadtrip"><img class="" src="images/rap/3.jpg" /></a>
				<a href="images/rap/4.jpg" data-lightbox="roadtrip"><img src="images/rap/4.jpg" /></a>

				<a href="images/rap/5.jpg" data-lightbox="roadtrip"><img class="" src="images/rap/5.jpg" /></a>
				<a href="images/rap/6.jpg" data-lightbox="roadtrip"><img src="images/rap/6.jpg" /></a>
				<a href="images/rap/7.jpg" data-lightbox="roadtrip"><img class="" src="images/rap/7.jpg" /></a>
				<a href="images/rap/8.jpg" data-lightbox="roadtrip"><img src="images/rap/8.jpg" /></a>

			</div>

			
			<h1>
				<iframe class="dz_video_wedding" width="600" height="400" src="https://www.youtube.com/embed/leyYBnC23oU" frameborder="0" allowfullscreen></iframe>
			</h1>

			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 

		</div>
			<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>