<div id="dz_reviews">
	<div class="row txt_zubin fon">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1>Отзывы о проведенных Нами празднечных мероприятиях!</h1>
			
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/ptXw-D4KFqI" frameborder="0" allowfullscreen></iframe>		
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/SRs7NsJe3cU" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/-W4-aa9dqDc" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/iblPv56dXAQ" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/04FsQ-tDlik" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"   src="https://www.youtube.com/embed/h00kZqbYahU" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/L1mB2Hiz1QI" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/WhHCWkPirkM" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/W3siYyZiByI" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/u0Aj4cT_qTs" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/aM8dxtPu4aw" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/X8BufCJ1qTc" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/MkPNgmW0zo4" frameborder="0" allowfullscreen></iframe>
			<iframe class="dz_video_wedding" src="https://www.youtube.com/embed/nWeS8Af5LYs" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>