<div id="dz_videography">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Видеосъемка в Украине</h1>
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz31.png" /></div>
			<p>Видеосъемка является не маловажной частью на свадьбах, юбилеях, выпускных вечерах. Она популярна на самых разных мероприятиях.  Именно видеосъемка даёт возможность увековечить самые памятные и искренние моменты.</p>
			<p>Основное направление видеосъемки – это создание сюжета. Для этого требуется видеограф с нестандартным взглядом и умением видеть необычные моменты и создавать их.</p>
			<h2>Услуги видеографа на свадьбу включает в себя такие работы:</h2>
			<ul>
				<li>- Монтаж материала;</li>
				<li>- обработка звука и изображения;</li>
				<li>- устранение неудачных кадров и эпизодов, выбор лучших;</li>
				<li>- расположение эпизодов в правильной последовательности;</li>
				<li>- совмещение видео в одно целое.</li>
			</ul>
			<h1>
				<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/-QVVvV1nQLw" frameborder="0" allowfullscreen></iframe>
				<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/USs720oLKyU" frameborder="0" allowfullscreen></iframe>
				<iframe class="dz_video_wedding"  src="https://www.youtube.com/embed/A5lY7LdsBTY" frameborder="0" allowfullscreen></iframe>
			</h1>
			<p>«DZ REVOLUTION TEAM» в Украине предоставляет услуги профессионального видеографа на любое Ваше торжество. Стоимость услуги полностью оправдывает себя.</p>
			<h3>Стоимость услуг и цены на проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 
		</div>

		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>