<div id="dz_video">
	<div class="row fon">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt_zubin">
			<h1>Видео с мероприятия!</h1>
			<div class="oden_zubin2" >
				<p><iframe  width="1280" height="640" src="https://www.youtube.com/embed/cL_sRESt8PI" frameborder="0" allowfullscreen></iframe></p>
			</div>		
		</div>
	</div>
</div>