<div id="dz_visiting">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>ВЫЕЗДНАЯ ЦЕРЕМОНИЯ</h1>
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz39.png" /></div>  
			<p>Выездная церемония – это красивое, романтичное и яркое действо, которое мы видели в многочисленных фильмах. Прекрасная арка, неземной красоты декор, подружки невесты в одинаковых нарядах, музыкальное сопровождение и обаятельный ведущий – все это позволит Вам и Вашим гостям окунуться в атмосферу романтики и любви!</p>
			<p>Выездная церемония предоставляет широкий простор для фантазии: можно выбрать место для проведения выездной церемонии, определить ее стиль и даже написать текст, который произнесет ведущий во время церемонии.</p>


			<h2>Место для выездной церемонии</h2> 
			<p>Немаловажным пунктом является место проведения свадебной выездной церемонии. Это может быть живописная лужайка парка, летняя терраса ресторана, фрегат или теплоход и, конечно же, побережье Азовского моря…</p>
			<p>Прекрасным местом для проведения регистрации может послужить загородный комплекс, в котором есть отель, ресторан и парковая зона. Большим плюсом такого места является проведение регистрации и свадебного банкета в одном месте, где молодожены также могут совершить свадебную прогулку и отдохнуть.</p>

			<div class="dz_foto_wedding">
				<a href="images/vc/1.jpg" data-lightbox="roadtrip"><img class="" src="images/vc/1.jpg" /></a>
				<a href="images/vc/2.jpg" data-lightbox="roadtrip"><img src="images/vc/2.jpg" /></a>
				<a href="images/vc/3.jpg" data-lightbox="roadtrip"><img src="images/vc/3.jpg" /></a>
				<a href="images/vc/4.jpg" data-lightbox="roadtrip"><img src="images/vc/4.jpg" /></a>
			</div>

			<h2>Преимущество выездной церемонии</h2>
			<p>Поскольку выездная регистрация брака не является официальной, здесь есть возможность пофантазировать и написать для ведущего прекрасный текст с учетом тематики и стиля вашей свадьбы! </p>
			<p>Вы не будете ограничены во времени и у Вас будет возможность еще раз признаться друг-другу в любви. Будут ли это клятвы или же просто, сказанные от души слова-вы выбираете сами. А наша команда профессионалов поможет вам составить уникальный текст не только для ведущего, но и лично для Вас, с учетом всех ваших пожеланий.</p>



			<h2>Оформление выездной церемонии</h2>
			<p>Неотъемлемым атрибутом выездной церемонии является декор. Он создаёт невероятную атмосферу торжества. Свадебная арка, украшенная живыми цветами и легкой, почти невесомой, тканью, ковровая дорожка, усыпанная лепестками роз, и оформленные посадочные места для гостей.</p>
			<p>Любое место проведения Вашей выездной церемонии  будет особенным. Мы правильно оформим и организуем выездную церемонию, которая задаст тему всего праздника, делая его уникальным и запоминающимся.</p>

			<h3>Комплексная организация позволит нашей сплоченной команде уловить все тонкости Ваших желаний.</h3>
			<h3>Подарите себе незабываемую церемонию с командой «DZ REVOLUTION TEAM»</h3> 
			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 

		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>