<div id="dz_vocalists">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Вокалисты на свадьбу?</h1>
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz34.png" /></div> 
			<p>У вас намечается праздник – свадьба, юбилей, корпоративная вечеринка?</p> 
			<p>Профессиональные вокалисты, владеющие разнообразным репертуаром (от романсов до современных отечественных и зарубежных хитов), сделают ваш праздник по-настоящему интересным и незабываемым.</p>
				<div class="dz_foto_wedding2">
					<a href="images/voc.jpg" data-lightbox="roadtrip"><img class="" src="images/voc.jpg" /></a>
				</div>
				<p>Вокалисты на свадьбе – это люди, тонко чувствующие атмосферу вечера, умеющие составить программу своего выступления таким образом, чтобы в нужный момент звучали именно те песни, которые наиболее подходят характеру и настроению публики. Они готовы выслушать ваши пожелания и исполнить для вас те произведения, которые вы давно мечтали услышать.</p>
				<h3>Наши вокалисты  –  мастера своего дела, люди, имеющие профессиональное музыкальное образование и большой опыт работы на сцене. </h3>


				<h3>Стоимость услуг и цены на проведение мероприятий уточняйте по номеру Тел.: +38(098)-675-33-73</h3> 
		
		</div>

		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>