<div id="dz_wedding">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				<h1>Свадьба</h1>
				<div class="front_center"><img class="dz_foto_wedd" src="images/dz40.png" /></div>
				<p>Свадьба – это всегда волнительный и счастливый день, который вы сможете прожить в кругу с самыми дорогими для вас людьми. Все должно быть легко и непринуждённо, каждую минуту этого дня Вы должны прочувствовать и насладиться ею, словно гурман, который дегустирует дорогое и изысканное вино многолетней выдержки.</p>
				<p>Миссия ведущего на свадьбе, то есть моя – лишь стать проводником ваших желаний и другом для Вас и Ваших близких на короткие, но очень важные несколько часов банкета. Отбросьте все сомнения, нам дальше по пути!</p>
				<div class="dz_foto_wedding">
					<a href="images/sv/3.jpg" data-lightbox="roadtrip"><img class="" src="images/sv/3.jpg" /></a>
					<a href="images/sv/2.jpg" data-lightbox="roadtrip"><img src="images/sv/2.jpg" /></a>
					<a href="images/sv/1.jpg" data-lightbox="roadtrip"><img src="images/sv/1.jpg" /></a>
					<a href="images/sv/4.jpg" data-lightbox="roadtrip"><img src="images/sv/4.jpg" /></a>
				</div>

				
				<p>Каждая свадьба уникальна! И на каждой свадьбе я выступаю не только в роли ведущего, но и в роли Свадебного Режиссера-сценариста. Ведь до свадьбы ведущему необходимо написать оригинальный сценарий, который пишется, отталкиваясь от Ваших предпочтений. А у каждой пары они совершенно разные и каждая пара выбирает свой формат свадьбы! Кто-то хочет нестандартную свадьбу, кому-то ближе классическая свадьба, кто-то хочет тематическую свадьбу, а кому-то хочется свадьбу семейную, где много времени уделяется общению с близкими и друзьями.</p>
				<p>Я и моя команда «DZ REVOLUTION TEAM» готовы проводить свадьбы любого формата!</p>

				

				<h3><a href="http://dz-team.com.ua/dz_reviews"> Отзывы наших молодоженов</a></h3>
				<div class="dz_video_wedd">
					<iframe class="dz_video_wedding" src="https://www.youtube.com/embed/ptXw-D4KFqI" frameborder="0" allowfullscreen></iframe>
					<iframe class="dz_video_wedding" src="https://www.youtube.com/embed/SRs7NsJe3cU" frameborder="0" allowfullscreen></iframe>
					<iframe class="dz_video_wedding" src="https://www.youtube.com/embed/-W4-aa9dqDc" frameborder="0" allowfullscreen></iframe>
					<iframe class="dz_video_wedding" src="https://www.youtube.com/embed/iblPv56dXAQ" frameborder="0" allowfullscreen></iframe>
				</div> 

				
				<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 
		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>