<div id="dz_weddingDecor">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Оформление, Декор, Флористика</h1> 
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz38.png" /></div>
			<p>Каждое торжество должно быть ярким и запоминающимся, а сделать его таким поможет команда профессионалов «DZ REVOLUTION TEAM». Оформление свадеб – важная  часть подготовки свадьбы, и в первую очередь, именно оформлением создается праздничное настроение и особая атмосфера праздника.</p>
			<div class="dz_foto_wedding">
				<a href="images/dec/6.jpg" data-lightbox="roadtrip"><img src="images/dec/6.jpg" /></a>
				<a href="images/dec/3.jpg" data-lightbox="roadtrip"><img src="images/dec/3.jpg" /></a>
				<a href="images/dec/4.jpg" data-lightbox="roadtrip"><img src="images/dec/4.jpg" /></a>
				<a href="images/dec/5.jpg" data-lightbox="roadtrip"><img src="images/dec/5.jpg" /></a>
				<a href="images/dec/1.jpg" data-lightbox="roadtrip"><img class="" src="images/dec/1.jpg" /></a>
			</div> 
			<h2>Почему стоит заказать оформление от «DZ REVOLUTION TEAM» ???</h2>
			<p>Потому что мы рады предложить вам свадебное оформление зала и выездной регистрации, декорации для фотосессии, свадебные приглашения и букет для невесты. Эффектное, роскошное оформление невозможно представить себе без живых цветов и, конечно же, они создают великолепный фон для свадебных фотографий. Каждые молодожены хотят видеть особенную ,красивую церемонию и эксклюзивное оформление зала.</p>
			<p>А команда «DZ REVOLUTION TEAM» с радостью поможет воплотить все ваши идеи или предложит свои. Оформить вашу свадебную церемонию и стать частичкой истории вашей любви для нас большая честь.</p>
			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3> 
		</div>

		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>