<div id="mc_zybin">
	<div class="row txt_zubin fon">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>MC ZYBIN</h1> 
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz38.png" /></div>
			
			<div class="dz_foto_wedding">
				<a href="images/mc/6.jpg" data-lightbox="roadtrip"><img src="images/mc/6.jpg" /></a>
				<a href="images/mc/3.jpg" data-lightbox="roadtrip"><img src="images/mc/3.jpg" /></a>
				<a href="images/mc/4.jpg" data-lightbox="roadtrip"><img src="images/mc/4.jpg" /></a>
				<a href="images/mc/5.jpg" data-lightbox="roadtrip"><img src="images/mc/5.jpg" /></a>
				<a href="images/mc/1.jpg" data-lightbox="roadtrip"><img  src="images/mc/1.jpg" /></a>
				<a href="images/mc/2.jpg" data-lightbox="roadtrip"><img  src="images/mc/2.jpg" /></a>

				<a href="images/mc/7.jpg" data-lightbox="roadtrip"><img src="images/mc/7.jpg" /></a>
				<a href="images/mc/8.jpg" data-lightbox="roadtrip"><img src="images/mc/8.jpg" /></a>
				<a href="images/mc/9.jpg" data-lightbox="roadtrip"><img src="images/mc/9.jpg" /></a>
				<a href="images/mc/10.jpg" data-lightbox="roadtrip"><img src="images/mc/10.jpg" /></a>
				<a href="images/mc/11jpg" data-lightbox="roadtrip"><img  src="images/mc/11.jpg" /></a>

				<a href="images/mc/12.jpg" data-lightbox="roadtrip"><img src="images/mc/12.jpg" /></a>
				<a href="images/mc/13.jpg" data-lightbox="roadtrip"><img src="images/mc/13.jpg" /></a>
				<a href="images/mc/14.jpg" data-lightbox="roadtrip"><img src="images/mc/14.jpg" /></a>
				<a href="images/mc/15.jpg" data-lightbox="roadtrip"><img src="images/mc/15.jpg" /></a>
				<a href="images/mc/16jpg" data-lightbox="roadtrip"><img  src="images/mc/16.jpg" /></a>
			</div> 
			<h3>Стоимость услуг и проведение мероприятий уточняйте по номеру тел.: +38(098)-675-33-73</h3>
		</div>

		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>