<div id="new_prolect" class="txt_zubin">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 oden_zubin1">
			<h1><img class="" src="images/razrab.png" alt=" В разработке" /></h1>
		</div>
	</div>
</div>