<div id="oden_zubin" >
	<div class="fon row txt_zubin">
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<h1>Стильный Энергичный Образованный</h1>
			<div class="front_center"><img class="dz_foto_wedd" src="images/dz29.png" /></div>
			<p>И уже достаточно известный ведущий, шоумен Мариуполя, постоянный участник самых фешенебельных мероприятий города и Украины, где он проводит веселые и нестандартные программы. Дениса знают как лучшего ведущего (тамаду) в Мариуполе и за его пределами.</p>
			<div class="dz_foto_wedding">
				<a href="images/oden/1.jpg" data-lightbox="roadtrip"><img src="images/oden/1.jpg" /></a>
				<a href="images/oden/2.jpg" data-lightbox="roadtrip"><img src="images/oden/2.jpg" /></a>
				<a href="images/oden/3.jpg" data-lightbox="roadtrip"><img src="images/oden/3.jpg" /></a>
				<a href="images/oden/4.jpg" data-lightbox="roadtrip"><img src="images/oden/4.jpg" /></a>
			</div>

			<h4>ТОП-7  фактов о Денисе Зыбине:</h4>
			<p class="yellow_p">1. Инновационщик по образованию.
			<p>1. Полученное образование  ОН умело использует в подготовке к Вашему Празднику! И в этом нет ничего странного, ведь сам Денисм – молодой, прогрессивный руководитель, который постоянно разрабатывает и находит новые идеи для ваших мероприятий, и делает всё, чтобы Ваш праздник принес вам максимум положительных эмоций, а в вашей жизни появилось новое незабываемое воспоминание.!!!!!</p>
			</p>
			<p class="yellow_p">2. Режиссер по призванию.
			<p>Режиссерская работа очень интересна и позволяет мыслить глобально, создавать что – то новое, учитывая формат и концепцию Вашего праздника. Он грамотно расставит смысловые и эмоциональные акценты на Вашем мероприятии.</p>
			</p>
			<p class="yellow_p">3. Хореограф по природе.
			<p>Безупречный вкус, чувство ритма, зажигательность и просто хорошее настроение – всем   этим Денис Зыбин с удовольствием поделится с вами. </p>
			</p>
			<p class="yellow_p">4. КВНщик по судьбе
			<p>Пять лет Денис посвятил Клубу Веселых и Находчивых, пройдя путь от студенческой жизни до сочинских фестивалей и Центральных лиг АМиК. Благодаря этому опыту Денис отличается тонкимчувством юмора и моментальной реакцией в любой ситуации.</p>
			</p>
			<p class="yellow_p">5. Путешественник по натуре.
			<p>Денис работает и отдыхает в самых разных странах мира. Это не только ведение мероприятий, но и получение нового опыта, для развития и открытия новых перспектив.</p>
			</p>
			<p class="yellow_p">6. Безупречен по стилю.
			<p>Стильный внешний вид, которому нет аналогов - визитная карточка Дениса Зыбина.</p>
			</p>
			<p class="yellow_p">7. Лидер по жизни.
			<p>Особый мужской шарм, притягательность, амбициозность, чувство юмора и харизма не оставят равнодушной ни одну аудиторию. </p>
			</p>
			<div class="dz_foto_wedding">
				<a href="images/oden/5.jpg" data-lightbox="roadtrip"><img class="" src="images/oden/5.jpg" /></a>
				<a href="images/oden/6.jpg" data-lightbox="roadtrip"><img src="images/oden/6.jpg" /></a>
				<a href="images/oden/7.jpg" data-lightbox="roadtrip"><img src="images/oden/7.jpg" /></a>
				<a href="images/oden/8.jpg" data-lightbox="roadtrip"><img src="images/oden/8.jpg" /></a>
			</div>
			<p>Главным для Дениса и его ивент – агенства остаётся  работа со своими клиентами. Абсолютно к каждому Мы найдём особый подход и предложим нестандартные решения, при которых рождаются новые шедевры. За яркими, незабываемыми и современными праздниками… только к Денису Зыбину!</p>
			<h3>Стоимость услуг и цены на проведение мероприятий уточняйте по номеру Тел.: +38(098)-675-33-73</h3>
		</div>
		<div class="hidden-xs hidden-sm col-md-1 col-lg-1">
		</div>
	</div>
</div>

